div{
    text-align: center;
    margin-top: 65%;
}

h1{
    font-family: font;
    color: aquamarine;
    font-size: 10vw;
}

body{
    background-color: black;
}

@font-face {
    font-family: font;
    src: url('/font/Macchiato.otf');
}

button{
    margin-top: 8%;
    background-color: white;
    border-radius: 30%;
    border-color: white;
    color: black;
    font-family: font;
    width: 30%;
    font-size: 5vw;
    transition-duration: 0.5s;
}

button:hover {
    background-color: black;
    color: white;
    border-color: black;
}

input {
    text-align: center;
    width: 65%;
    height: 8vw;
    font-size: 8vw;
    font-family: font;
    text-transform: capitalize;
    background-color: white;
    color: black;
}

p{
    text-align: left;
    font-size: 4vw;
    font-family: font;
    color: white;
}

a{
    color: white;
}
