.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  height: 80vh;
  margin: 0;
}

h1{
    font-family: font;
    color: aquamarine;
    font-size: 10vw;
    margin: 3;
    padding: 0;
}

body{
    background-color: black;
}

@font-face {
    font-family: font;
    src: url('/font/Macchiato.otf');
}

button{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 30%;
    border-color: white;
    color: black;
    font-family: font;
    width: 25vw;
    font-size: 5vw;
    transition-duration: 0.5s;
    align-self: center;
    margin-top: 3;
    padding-top: 3;
}

button:hover {
    background-color: black;
    color: white;
    border-color: black;
    box-shadow: 0 2vw 5vw 2vw aquamarine;
}

input {
    text-align: center;
    width: 65%;
    height: 8vw;
    font-size: 8vw;
    font-family: font;
    text-transform: capitalize;
    background-color: white;
    color: black;
    margin-bottom: 5vw;
}

p{
    text-align: left;
    font-size: 4vw;
    font-family: font;
    color: white;
}

a{
    color: white;
}
.instagram {
    display: flex;
    justify-content: flex-start;
}

.text {
    font-size: 5vw;
    color: black;
    margin: auto;
    padding: auto;
}

.text:hover {
    color: white;
}