div{
    text-align: center;
    margin-top: 45%;
}

h1{
    font-family: font;
    color: aquamarine;
    font-size: 10vw;
}

body{
    background-color: black;
}

@font-face {
    font-family: font;
    src: url('/n/font/Macchiato.otf');
}

